<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679184282992-jv1shjr8ud6npbv0vtk6tq4p26ijhoan.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679184282992-jv1shjr8ud6npbv0vtk6tq4p26ijhoan</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>679184282992-u7l2hijud8sc6ahhcfp4j3mpcaicgmbs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAulx43sx2QHkdSgocDGGXijk4exCYFqgc</string>
	<key>GCM_SENDER_ID</key>
	<string>679184282992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kayanintelligence.sasss</string>
	<key>PROJECT_ID</key>
	<string>kayan-logistics</string>
	<key>STORAGE_BUCKET</key>
	<string>kayan-logistics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679184282992:ios:b54525e031ee56e2458bb5</string>
</dict>
</plist>